body {
        font-family: "Inter";
        font-weight: 400;
        margin: 0px;
    }

    .valign {
        display: flex;
        align-items: center;
    }

    #logo {
        font-size: 30px;
        font-weight: 700;
    }

    #header {
        padding-left: 5vw;
        color: black;
    }
    
    #header-mobile {
        padding: 60px 100px 0px 10vw; 

        color: black;
    }

    #pages {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
    }

    .page-link {
        color: #2400FF;
        font-weight: 600;

        margin-right: 7vw;
        font-size: 25px;

        text-decoration: none;
    }

    .page-link-mobile {
        text-decoration: none;
        color: black;
    }

    #landing {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%; height: 100%;

        padding-left: 250px;

        color: white;
    }

    .title {
        font-size: 100px;
    }

    .subtitle {
        font-size: 60px;
        font-weight: 500;
    }

    .smaller-title {
        font-size: 40px;
        font-weight: 500;
    }

    .larger-text {
        font-size: 20px;
    }

    .main-picture {
        position: absolute;

        bottom: 27%;
        left: 32%;

        -webkit-box-shadow: -6px 9px 18px -1px rgba(209,209,209,1);
        -moz-box-shadow: -6px 9px 18px -1px rgba(209,209,209,1);
        box-shadow: -6px 9px 18px -1px rgba(209,209,209,1);
    }

    #page-content {
        position: absolute;

        top: 68vw;
        padding-left: 20vw;

        width: 60vw;
        }

    .button {
        border-width: 4px;
        border-style: solid;
        border-color: #2027BD;
        color: #2027BD;
        
        padding: 10px;
        background: transparent;

        font-weight: 600;
    }

    #tarc-description {
        margin-top: 50px;
        font-size: 17px;
    }

    .accolade {
        width: 100px;
        height: 100px;

        border-style: solid; 
        border-width: 4px;

        padding: 15px;

        text-align: left;

        margin-right: 20px;
        margin-bottom: 20px;
    }

    #footer {
        margin-left: -20vw;
        margin-top: 100px;
        box-sizing:border-box;
        width: 100vw;
        height: 400px;

        background: #313859;

        padding-left: 15vw;
    }

    #main-page-content {
        transition: opacity 0.3s ease;
    }

    .profile {
        position: relative;
        width: 100%;
        padding-top: 100%;

        -webkit-box-shadow: -6px 9px 18px -1px rgba(209,209,209,1);
        -moz-box-shadow: -6px 9px 18px -1px rgba(209,209,209,1);
        box-shadow: -6px 9px 18px -1px rgba(209,209,209,1);
    }

    #tarc-description {
        column-count: 2; 
    }


    #header-mobile {
        display :none;
    }

    #header {
        display: flex;
    }
    
    @media only screen and (max-width:620px) {
        /* For mobile phones: */
       
        #tarc-description {
            column-count: 1;
        }

        
        }
        .medium-font {
            font-size: 13px;
        }
    
        .mediuml-font {
            font-size: 20px;
        }
    
        .large-font {
            font-size: 35px;
        }
    
        .largel-font {
            font-size: 50px
        }

    @media only screen and (max-width: 800px){
        #header-mobile {
            display: flex;
        }

        #header {
            display: none;
        }
    }
    
    @media only screen and (max-width: 900px){
        #tarc-description 
        {  
            column-count: 1;
        }

        #footer {
            padding-top: 50px;
            padding-bottom: 50px;
            display: inline-block;
            height: fit-content;
        }

        #left-footer {
            border-right: none !important;
            width: 70vw !important;
            padding-right: 0vw !important;
        }

        #right-footer {
            width: 70vw !important;
            padding-left: 0vw !important;
            margin-top: 50px;
        }

        .medium-font {
            font-size: 2.5vw; 
        }

        .mediuml-font {
            font-size: 3vw;
        }

        .large-font {
            font-size: 5vw;
        }

        .largel-font {
            font-size: 6vw;
        }
    }

   

 #articles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    } 

    .article {
        -webkit-box-shadow: -6px 9px 25px -1px rgba(230,230,230,1);
        -moz-box-shadow: -6px 9px 25px -1px rgba(230,230,230,1);
        box-shadow: -6px 9px 25px -1px rgba(230,230,230,1);

        width: 240px;
        height: 300px;

        position: relative;

        margin-right: 50px;
        margin-bottom: 50px;
        
    }

    .article-title {
        position: absolute;
        bottom: 30px;
        left: 30px;

        color: white;
        width: 150px;

        font-weight: 550;
    }

    .image-large {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: none;
        background: #000000dd;

        z-index: 1000;
    }

    
    .document {
        -webkit-box-shadow: -6px 9px 25px -1px rgba(230,230,230,1);
        -moz-box-shadow: -6px 9px 25px -1px rgba(230,230,230,1);
        box-shadow: -6px 9px 25px -1px rgba(230,230,230,1);

        width: 240px;
        height: 300px;

        position: relative;

        margin-right: 50px;
        margin-bottom: 50px;
        
    }
 
    .document-title {
        position: absolute;
        top: calc(100% + 20px);
        left: 0px;

        color: black;
        width: 150px;

        font-size: 16px;

        font-weight: 550;
    }
