{% macro footer() %}
<div id = 'footer' class = 'valign' style = 'color: white;'>
                    <div id = 'left-footer' style = 'padding-right: 5vw; width: 40vw; border-right-style: solid; border-right-color: #cbcbcb'>
                        <div class = 'largel-font' style = 'color: #fff846'>
                            Newport Rocketry
                        </div>
        
                        <div class = 'mediuml-font' style = 'margin-top: 15px;'>
                            Inquiries regarding sponsorships should be through our email, <a style = 'text-decoration: none; color: white
                            ' href = 'mailto:newportrocketry@gmail.com'><b>newportrocketry@gmail.com</b></a>
                        </div>
        
                        <div class = 'medium-font' style = 'margin-top: 30px;'>
                            Newport High School, 4333 Factoria Blvd SE
                        </div>
        
                        <div class = 'medium-font' style = 'margin-top: 30px;'>
                            Powered by <b>Pied Piper</b>
                        </div>
        
                        <div class = 'medium-font' style = 'margin-top: 5px; '>
                            Hosted by <b>DigitalOcean</b>
                        </div>
                    </div>
        
                    <div id = 'right-footer' style = 'width: 20vw; padding-left: 5vw;'>
                            <div class = 'large-font'>
                                Contact Us
                            </div>
        
                            <div class = 'medium-font' style = 'margin-top: 15px;'>
                                We're happy to hear from you!
                                <br/>
                                <br/>
                                You can get in touch through our <a style = 'text-decoration: none; color: white
                                ' href = 'https://instagram.com/newport.rocketry'><b>instagram</b></a> or <a style = 'text-decoration: none; color: white
                                ' href = 'mailto:newportrocketry@gmail.com'><b>email</b></a>.
                            </div>
        
                         
                        </div>
                </div>        
{%endmacro%}