<!doctype html>

{% from "macros.html" import footer %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>NRC</title>
  <meta name="description" content="Newport Rocketry">
  <meta name="author" content="Nathan Yan">

  <link rel="stylesheet" href="fonts/inter.css">

  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link href = "/css/main.css" rel = 'stylesheet'>
</head>

<style>
       #page-content {
        padding: 50px 14vw 14vw 10vw;
        position: inherit;
        width: initial;
        }

        #footer {
            margin-left: 0;
        }

        .photo {width: 23vw; height: 23vw; object-fit: cover; margin-bottom: 1.5vw}

     
</style>

<body style = 'overflow-x: hidden'>
    <div style = 'display: flex' id = 'header'>
        <div id = 'logo-wrapper'>
            <span id = 'logo'>NRC</span>
        </div> 

        <div id = 'pages' style = 'width: 100%'>
                <a href = '/sli' class = 'page-link'><span >sli</span></a>
                <a href = '/tarc' class = 'page-link'><span>tarc</span></a>
                <a href = '/photos' class = 'page-link'><span>photos</span></a>
                <a href = '/sponsorship' class = 'page-link'><span>sponsorship</span></a>
        </div> 
    </div>

    <div id = 'main-page-content'>
        <div id = 'page-content'>
            <div class = '' style = 'font-size: 50px; color: #1bc779; margin-bottom: 20px'>Photos</div>
            
            <div style = 'margin-top: 0px'>
                <div style = 'width: 100%'>
                    <p>
                    Here are some photos we've taken over the years!</p>

                    <div style = 'width: 100%; display: flex; flex-wrap: wrap'>
                        {% for link in photos %}
                            {% if loop.index != 0 and loop.index % 3 == 0 %}
                            <img class = 'photo' src = '{{link}}' style = ''>

                            {%else%}
                            <img class = 'photo' src = '{{link}}' style = ' margin-right: 1.5vw'>
                            {%endif%}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class = 'image-large valign' style = 'justify-content: center'>
                <img class = 'image-large-i' style = 'max-width: 80vw; max-height: 80vh'/>
                <span style = 'cursor: pointer; position: absolute; top: 50px; right: 50px; color: #ff3e3e; font-family: Material Icons; font-size: 40px;' class = 'photo-close'>
                        close</span>                   
            </div>
        </div>

        {{footer()}}


    </div>

    

</body>
</html>

<script>
    let showing_photo = false;

    $("#meet-the-teams-button").click((e) => {
        let pos = e.target.getBoundingClientRect();

        console.log(pos);

        $(".sub-page-content").css({
            'position' : 'fixed',
            'top' : pos.top,
            'left' : pos.left,
            'width' : pos.width - 8,
            'height' : pos.height - 8
        });

        setTimeout(() => {
            $(".sub-page-content").css({
            'transition': 'all 0.8s ease',
            'display' : "initial"
        })
        }, 10)
       


        setTimeout(() => {
            $(".sub-page-content").css({
            'top' : "50px",
            'left' : "50px",
            'width' : "calc(100vw - 108px)",
            'height' : "calc(100vh - 108px)",
            'overflow-y' : 'scroll'
        });

        $(".sub-page-text").css({
            'padding' : "50px"
        });
        }, 30)
        
    })

    $('.sub-page-close').click(() => {
        let pos = document.getElementById('meet-the-teams-button').getBoundingClientRect();

       

        setTimeout(() => {
            $(".sub-page-content").css({
            'transition': 'none',
            "display" : "none"
        })
        }, 1000)
       
        $(".sub-page-content").css({
            'position' : 'fixed',
            'top' : pos.top,
            'left' : pos.left,
            'width' : pos.width - 8,
            'height' : pos.height - 8,
            'overflow' : 'hidden'
        });

        $(".sub-page-text").css({
            'padding' : "10px"
        });
    })

    $('.photo').click((e) => {
        showing_photo = true;

        console.log(e.target.src);
        let modal = $($('.image-large')[0]);
        let modal_img = $($('.image-large-i')[0]);
        console.log(modal);
        modal_img.attr('src', e.target.src);
        console.log("assigning background");
        modal.css('display', 'flex');
    });

    $('.image-large').click((e) => {
        if (e.target.classList.contains("image-large")){
            $(e.target).css('display', 'none');
            showing_photo = false;
        }
    })

    $('.photo-close').click(() => {
        $('.image-large').css('display', 'none');
        showing_photo = false;
    })
</script>
