<!doctype html>

{% from "macros.html" import footer, header %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>NRC</title>
  <meta name="description" content="Newport Rocketry">
  <meta name="author" content="Nathan Yan">

  <link rel="stylesheet" href="fonts/inter.css">

  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel = 'stylesheet' href = '/css/main.css'>

</head>

<style>
    
    

</style>

<body style = 'padding-bottom: 200px; overflow-x: hidden'>
        {{header()}}

    <div id = 'main-page-content'>
        <img src = "/photos/sli-prelaunch.jpg" style = 'width: 50%; border-radius: 15px' class = 'main-picture'>

        <div id = 'page-content'>
            <div class = 'title' style = 'color: #C9C4FF; margin-bottom: 20px'>
                NASA SL
            </div>

            <div id = 'sub-pages' style = 'display: flex; flex-wrap: wrap'>
                <span class = 'button' id = 'our-documents-button' ref = 'our-documents'>
                    Our documents
                </span>
            </div>

            <div id = 'tarc-description' style = 'column-gap: 80px; column-fill: auto; width: 100%;'>
                    NASA's SLI, or Student Launch Initiative, is a competition that involves extensive research, exploration and experimentation with a certain academic interest relevant to rocketry. Some of SLI's goals are to provide research on environments accurately simulated by rocket launches, and the effective and cheap development of rocket propulsion mechanisms. NASA is supported by the Human Exploration and Operations Mission Directorate and U.S. aerospace industry
                    <br/><br/>
                    SLI projects are generally built around NASA missions, rather than "textbook" implementations of knowledge. 
                    Newport, despite being a high school has been invited to attend SLI for two years in a row!
            </div>

            <div class = 'subtitle' style = 'font-weight: 500; margin-top: 150px; text-align: center'>
                Achievements
            </div>

            <div id = 'accolades' style = 'font-weight: 500; margin-top: 20px; text-align: center; display: flex; flex-wrap: wrap; justify-content: center'>
                <div class = 'accolade'>
                    <div>
                        <span style = 'font-size: 20px'>Finished</span>

                        <br/>
                        <br/>
                        <br/>

                        <span style = 'font-size: 14px'>NASA SL</span>
                        <br/>
                        <span style = 'font-size: 14px'>2016</span>
                    </div>
                </div>

                
            </div>

           
            {{footer()}}
                
        </div>

        

       
    </div>

    <div class = 'sub-page-content' style = 'border-width: 4px;
    border-style: solid;
    border-color: #2027BD;
    color: #2027BD;
        background: white;

    font-weight: 600; position: fixed; top: 0; left: 0; width: 0; height: 0; overflow: hidden' ref = 'meet-the-teams'>

        <span style = 'position: absolute; top: 50px; right: 50px; color: #ff3e3e' class = 'sub-page-close' ref = 'meet-the-teams'>
        Close</span>

        <div class = 'sub-page-text' style = 'transition: padding 0.8s ease; padding: 10px'>
                <div style = 'margin-bottom: 30px'>
                        Our documents
                </div>

                <div style = 'font-size: 40px'>
                    <div class = 'document' style = 'background: url("document-thumbnails/groundnet.png"); background-size: cover'>
                        <span class = 'document-title'>Preliminary SLI Experiment Code</span>
                    </div>
                </div>
        </div>
    </div>

    

</body>
</html>

<script>
    $(document).ready(() => {
        setTimeout(resize_reposition_images, 500);
    })

    $("#our-documents-button").click((e) => {
        let pos = e.target.getBoundingClientRect();

        console.log(pos);

        $(".sub-page-content").css({
            'position' : 'fixed',
            'top' : pos.top,
            'left' : pos.left,
            'width' : pos.width - 8,
            'height' : pos.height - 8
        });

        setTimeout(() => {
            $(".sub-page-content").css({
            'transition': 'all 0.8s ease',
            'display' : "initial"
        })
        }, 10)
       


        setTimeout(() => {
            $(".sub-page-content").css({
            'top' : "50px",
            'left' : "50px",
            'width' : "calc(100vw - 108px)",
            'height' : "calc(100vh - 108px)",
            'overflow-y' : 'scroll'
        });

        $(".sub-page-text").css({
            'padding' : "50px"
        });
        }, 30)
        
    })

    $('.sub-page-close').click(() => {
        let pos = document.getElementById('our-documents-button').getBoundingClientRect();

       

        setTimeout(() => {
            $(".sub-page-content").css({
            'transition': 'none',
            "display" : "none"
        })
        }, 1000)
       
        $(".sub-page-content").css({
            'position' : 'fixed',
            'top' : pos.top,
            'left' : pos.left,
            'width' : pos.width - 8,
            'height' : pos.height - 8,
            'overflow' : 'hidden'
        });

        $(".sub-page-text").css({
            'padding' : "10px"
        });
    })

    if(window.attachEvent) {
        window.attachEvent('onresize', resize_reposition_images);
    }
    else if(window.addEventListener) {
        window.addEventListener('resize', resize_reposition_images, true);
    }
    else {
        console.log("This browser does not support resize events"); // Gotta do something about this one 
    }

    function resize_reposition_images(e) {
        let width = document.documentElement.clientWidth;
        let height = document.documentElement.clientHeight;

        let image_height = document.getElementsByClassName('main-picture')[0].clientHeight; 
        
        let complete_height = 150 + image_height;
        console.log(complete_height);
        let percentage_bottom = 1 - complete_height / height;

        let content_percentage = (complete_height - 50) / height; 

        console.log(percentage_bottom);
        $('.main-picture').css('bottom', percentage_bottom * 100 + '%')
        $('#page-content').css('top', (content_percentage * 100) + "%");
    }
</script>
