<!doctype html>

{% from 'macros.html' import footer %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>NRC</title>
  <meta name="description" content="Newport Rocketry">
  <meta name="author" content="Nathan Yan">

  <link rel="stylesheet" href="fonts/inter.css">
  <link rel="stylesheet" href="css/main.css">

  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<style>

        
 
</style>

<body style = 'padding-bottom: 200px; overflow-x: hidden'>
    <div style = 'display: flex' id = 'header'>
        <div id = 'logo-wrapper'>
            <span id = 'logo'>NRC</span>
        </div> 

        <div id = 'pages' style = 'width: 100%'>
                <a href = '/sli' class = 'page-link'><span >sli</span></a>
                <a href = '/tarc' class = 'page-link'><span>tarc</span></a>
                <a href = '/photos' class = 'page-link'><span>photos</span></a>
                <a href = '/sponsorship' class = 'page-link'><span>sponsorship</span></a>
        </div> 
    </div>

    <div id = 'main-page-content'>
        <img src = "photos/tarc_nationals.jpg" style = 'width: 50%; border-radius: 15px' class = 'main-picture'>

        <div id = 'page-content'>
            <div class = 'title' style = 'color: #97C5C2; margin-bottom: 20px'>
                TARC
            </div>

            <div id = 'sub-pages' style = 'display: flex; flex-wrap: wrap'>
                <span class = 'button' id = 'meet-the-teams-button' ref = 'meet-the-teams'>
                    Meet the teams
                </span>
                
            </div>

            <div id = 'tarc-description' style = 'column-gap: 80px; width: 100%;'>
                    The Team America Rocketry Challenge (TARC) is the world's largest student rocket contest and a key piece of the aerospace and defense industry's strategy to build a stronger U.S. workforce in science, technology, engineering and mathematics (STEM). Sponsored by the Aerospace Industries Association (AIA) and the National Association of Rocketry (NAR), TARC was created in the fall of 2002 as a one-time celebration of the Centennial of Flight, but by popular demand became an annual program. 
                    <br/><br/>
                    Approximately 5,000 students from across the nation compete in TARC each year. The contest challenges students to design, build and fly a rocket to safely carry a raw egg payload to a specific altitude and back within a certain amount of time. The contest's rules and scoring parameters change every cycle to challenge the students' ingenuity and encourage a fresh approach to rocket design. 
                    <br/><br/>
                    Newport Rocketry club has participated in TARC every year since the club’s conception, and has qualified for nationals almost every year.
                    <br/><br/>
                    Based on local qualification flights, the top 100 teams are invited to Washington, D.C. in May for the National Finals. Top placing teams split more than $100,000 in cash and scholarships and the overall winning team will travel to Europe to compete in the International Rocketry Challenge taking place at either the Farnborough or Paris Air Show, depending on the year.
            </div>

            <div class = 'subtitle' style = 'font-weight: 500; margin-top: 150px; text-align: center'>
                Our Accolades
            </div>

            <div id = 'accolades' style = 'font-weight: 500; margin-top: 20px; text-align: center; display: flex; flex-wrap: wrap; justify-content: center'>
                <div class = 'accolade'>
                    <div>
                        <span style = 'font-size: 30px'>2</span>
                        <span style = 'font-size: 14px'>nd</span>

                        <br/>
                        <br/>

                        <span style = 'font-size: 14px'>Nationals</span>
                        <br/>
                        <span style = 'font-size: 14px'>2014</span>
                    </div>
                </div>

                <div class = 'accolade'>
                    <div>
                        <span style = 'font-size: 30px'>15</span>
                        <span style = 'font-size: 14px'>th</span>

                        <br/>
                        <br/>

                        <span style = 'font-size: 14px'>Nationals</span>
                        <br/>
                        <span style = 'font-size: 14px'>2016</span>
                    </div>
                </div>

                <div class = 'accolade'>
                    <div>
                        <span style = 'font-size: 30px'>Finals</span>

                        <br/>
                        <br/>

                        <span style = 'font-size: 14px'>Nationals</span>
                        <br/>
                        <span style = 'font-size: 14px'>2014</span>
                    </div>
                </div>

                <div class = 'accolade'>
                    <div>
                        <span style = 'font-size: 30px'>Finals</span>

                        <br/>
                        <br/>

                        <span style = 'font-size: 14px'>Nationals</span>
                        <br/>
                        <span style = 'font-size: 14px'>2018</span>
                    </div>
                </div>
            </div>

            {{footer()}}
              
        </div>

       
    </div>

    <div class = 'sub-page-content' style = 'border-width: 4px;
    border-style: solid;
    border-color: #2027BD;
    color: #2027BD;
        background: white;

    font-weight: 600; position: fixed; top: 0; left: 0; width: 0; height: 0; overflow: hidden' ref = 'meet-the-teams'>

        <span style = 'position: absolute; top: 50px; right: 50px; color: #ff3e3e' class = 'sub-page-close' ref = 'meet-the-teams'>
        Close</span>

        <div class = 'sub-page-text' style = 'transition: padding 0.8s ease; padding: 10px'>
                <div style = 'margin-bottom: 30px'>
                        Meet the teams
                </div>

                <div style = 'font-size: 50px; width: 60%'>Teams for the 2020 TARC contest have not been made yet!</div>

                <!--
                <div id = 'team-finna-blast' style = 'margin-bottom: 100px'>
                    <div class = 'smaller-title'>Finna Blast</div>
                    <div style = 'display: flex; flex-wrap: wrap; width: 100%; margin-top: 10px'>
                        <div style = 'width: 25%; max-width: 200px; margin-right: 50px'>
                            <div class = 'profile' style = 'background: url("members/photos-matt.jpg"); background-size: cover; color: black'>
                                    <div style = 'position: absolute; top: calc(100% + 10px); left: 0;font-size: 20px;' class = ''>Matt Ketkaroonkul</div>
                                </div>
                        </div>

                        <div style = 'width: 25%; max-width: 200px; margin-right: 50px'>
                            <div class = 'profile' style = 'background: url("members/photos-kavel.jpg"); background-size: cover; color: black'>
                                <div style = 'position: absolute; top: calc(100% + 10px); left: 0;font-size: 20px;' class = ''>Kavel Rao</div>
                            </div>
                        </div>

                        <div style = 'width: 25%; max-width: 200px; margin-right: 50px'>
                            <div class = 'profile' style = 'background: url("members/photos-jonah.jpg"); background-size: cover; color: black'>
                                    <div style = 'position: absolute; top: calc(100% + 10px); left: 0;font-size: 20px;' class = ''>Jonah Quist</div>
                                </div>
                        </div>
                    </div>
                    
                </div>
                -->

               
        </div>
    </div>

</body>
</html>

<script>
    $(document).ready(() => {
        setTimeout(resize_reposition_images, 500);
    })

    $("#meet-the-teams-button").click((e) => {
        let pos = e.target.getBoundingClientRect();

        console.log(pos);

        $(".sub-page-content").css({
            'position' : 'fixed',
            'top' : pos.top,
            'left' : pos.left,
            'width' : pos.width - 8,
            'height' : pos.height - 8
        });

        setTimeout(() => {
            $(".sub-page-content").css({
            'transition': 'all 0.8s ease',
            'display' : "initial"
        })
        }, 10)
       


        setTimeout(() => {
            $(".sub-page-content").css({
            'top' : "50px",
            'left' : "50px",
            'width' : "calc(100vw - 108px)",
            'height' : "calc(100vh - 108px)",
            'overflow-y' : 'scroll'
        });

        $(".sub-page-text").css({
            'padding' : "50px"
        });
        }, 30)
        
    })

    $('.sub-page-close').click(() => {
        let pos = document.getElementById('meet-the-teams-button').getBoundingClientRect();

       

        setTimeout(() => {
            $(".sub-page-content").css({
            'transition': 'none',
            "display" : "none"
        })
        }, 1000)
       
        $(".sub-page-content").css({
            'position' : 'fixed',
            'top' : pos.top,
            'left' : pos.left,
            'width' : pos.width - 8,
            'height' : pos.height - 8,
            'overflow' : 'hidden'
        });

        $(".sub-page-text").css({
            'padding' : "10px"
        });
    })

    if(window.attachEvent) {
        window.attachEvent('onresize', resize_reposition_images);
    }
    else if(window.addEventListener) {
        window.addEventListener('resize', resize_reposition_images, true);
    }
    else {
        console.log("This browser does not support resize events"); // Gotta do something about this one 
    }

    function resize_reposition_images(e) {
        let width = document.documentElement.clientWidth;
        let height = document.documentElement.clientHeight;

        let image_height = document.getElementsByClassName('main-picture')[0].clientHeight; 
        
        let complete_height = 150 + image_height;
        console.log(complete_height);
        let percentage_bottom = 1 - complete_height / height;

        let content_percentage = (complete_height - 50) / height; 

        console.log(percentage_bottom);
        $('.main-picture').css('bottom', percentage_bottom * 100 + '%')
        $('#page-content').css('top', (content_percentage * 100) + "%");
    }


</script>
